#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                ID_FILE_NEW
        MENUITEM "&Open...",            ID_FILE_OPEN
        MENUITEM "&Save",               ID_FILE_SAVE
        MENUITEM "Save &As...",         ID_FILE_SAVEAS
        MENUITEM SEPARATOR             // Horizontal line separator
        MENUITEM "E&xit",               ID_APP_EXIT
    END
END